/* Global */
html, body, div, header, nav, main, footer, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow:hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  min-width: 860px;
  max-width: 1800px;
  font-size: 18px;
  height: 100%;
  overflow:hidden;

}
/* Global End*/


/* Header */
header {
  background: #F5E6E8;
  text-align: center;
}

header h1 {
  color: #3C7A89;
  /* color: #967AA1; */
  font-size: 38px;
  padding: 12px 0;
}

/* Header End*/

/* main */
main {
  display: flex;
  margin: 0 auto;
  width: 90%;
  min-width: 900px;
  min-height: 100%;
  margin: 0 auto -122px;
  overflow: hidden;
  /* background-color: #ccc; */
}
/*  */

/* Record Section */
aside {
  flex: 1;
  margin: 50px auto 0;
  height: 370px;
  padding: 100px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666;
  /* min-width: 180px; */
}
aside div {
  text-align: center;
  flex: 1;
}
aside .info {
  /* margin: 16px; */
}

aside .info .record {
  font-size: 18px;
  font-weight: 900;
  color: #E3655B;
}
aside .info-title {
  font-weight: 900;
  font-size: 22px;
}
/* Record Section End */


/* Control Section */
nav {
  flex: 1;
  /* min-width: 120px; */
  margin: 58px auto 0;
  height: 390px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.subtitle{
  font-size: 16px;
}

.button {
  box-sizing: border-box;
  color: #fff;
  border: 1px solid #A9CBB7;
  border-radius: 10px;
  background-color: #A9CBB7;
  margin: 10px auto;
  width: 160px;
  padding: 10px;
  text-align: center;
  font-size: 22px;
}

.button:hover {
  background-color: #789986;
  cursor: pointer;
}

#tutorial {
  padding: 20px;
}

/* Control Section End */


/* Footer */
footer {
  min-width: 900px;
  height: 52px;
  background: #F5E6E8;
  flex: 0.2;
  color: #666;
}

footer .links {
  /* position: sticky;
  top: 10px; */
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  justify-content:flex-start;
  line-height: 58px;
  padding-right: 20px;
}

footer .links a {
  color: #666;
  margin-left: 10px;
}

footer .links a i {
  font-size: 20px;
}

footer .links p {
  margin-left: 20px;
  line-height: 54px;
}
/* Footer End */


/* Stage */
.stage_container {
  margin: 58px auto 0;
  position: relative;
  width: 630px;
  flex: 1;
  /* border: 1px solid grey; */
}
.stage {
  width: 630px;
  height: 470px;
  background: #EEE;
  margin: 0 auto;
  position: relative;
}
.stage .tile {
  width: 68px;
  height: 68px;
  position: absolute;
  float: left;
  transition: .3s;
  animation: tile .4s;
  z-index: 1;
  border: 1px solid #ccc;
}

#stage .tile.selected {
  outline: 5px solid rgba(0,0,0,.3);
  outline-offset: 3px;
}

#fakeStage {
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-315px);
  top: 0px;
  z-index: 10;
  background: black;
  opacity: 0.4;
  color: #fff;
  font-size: 36px;
  line-height: 470px;
  display: block;
  text-align: center;
  /* display: none; */
}
.tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-color: #fff;
}
.tile.killed {
  background: none;
  pointer-events: none;
  transform: scale(1.5);
  opacity: 0;
}
canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}


@keyframes tile {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  /* from { transform: scale(.5); opacity: 0 } */
}
/* Stage End */

/* Welcome Modal */
.modal-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
}
#welcome-modal {
  display: none;
}
#welcome-modal.is-open {
  display: block;
}

#welcome-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-340px);
  width: 640px;
  height: 460px;
  padding: 20px;
  background: #F9F1F2;
  z-index: 100;
  border: 1px solid #000;
  font-size: 20px;
  color: #3C7A89;
}

#welcome-wrapper h2 {
  text-align: center;

}

.modal-guides {
  position: relative;
  color: grey;
}

.modal-guides  .guide {
  /* position: absolute; */
  border: 1px solid red;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

#guide-0 {
    /* display: none; */
}
#guide-1 {
    display: none;
}
#guide-2 {
    display: none;
}
#guide-3 {
  display: none;
}

#model-skip {
  position: absolute;
  top: 10px;
  right: 10px;
}
#model-prev{
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}
#model-next{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#model-pages{
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 16px;
}

#model-start {
  width: 300px;
  margin: 0 auto;
}
/* Welcome Modal end*/
